.MuiPaper-root.critter-panel {
    text-align: center;
    width: 68px;
    height: 109px;
    margin: 3px;
    svg {
        margin-top: 16px;
        width: 24px;
        height: 24px;
        transition: color 0.5s ease-in-out;
    }
    img {
        width: 64px;
        height: 64px;
        margin-top: -7px;
        margin-bottom: -8px;
        margin-left: 1px;
        margin-right: 1px;
    }
    transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out,
        background-color 0.5s ease-in-out, border-color 0.5s ease-in-out,
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
