.chart.dark.bb {
    & text {
        fill: rgba(255, 255, 255, 0.87);
    }
    & line,
    & path {
        stroke: rgba(255, 255, 255, 0.87);
    }
    & .bb-tooltip {
        & td {
            background-color: #1e1e1e;
        }
        & th {
            background-color: #242424;
        }
    }
}
