.loader {
    &.dark {
        background-color: #242424;
        box-shadow: 0px 0px 100px 100px #242424;
    }
    &.light {
        background-color: #aaaaaa;
        box-shadow: 0px 0px 100px 100px #aaaaaa;
    }
    position: absolute;
    top: calc(33% - 50px) !important;
    left: calc(50% - 50px) !important;
    width: 100px;
    height: 100px;
    border-radius: 50px !important;
}