@font-face {
    font-family: "ACNH";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/humming.ttf) format("truetype");
    font-display: swap;
}
* {
    font-family: "ACNH" !important;
}
body {
    background-color: #121212;
}
.no-transition * {
    transition: none !important;
}

.MuiTooltip-tooltip {
    white-space: pre-line;
}
