@font-face {
    font-family: "ACNH";
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/humming.ttf) format("truetype");
    font-display: swap;
}
* {
    font-family: "ACNH" !important;
}
body {
    background-color: #121212;
}
.loader {
    position: absolute;
    background-color: #242424;
    box-shadow: 0px 0px 100px 100px #242424;
    top: calc(33% - 50px) !important;
    left: calc(50% - 50px) !important;
    width: 100px;
    height: 100px;
    border-radius: 50px !important;
}
.no-transition * {
    transition: none !important;
}
